.mq-header {
    font-size: xx-large;
    margin: 3%;
}

.mq-container .btn{
  margin: 3px;
  margin-left: 3%;
  border-radius: 25px;
  border: none;
  background: rgb(233, 234, 236);
  color: black;
}